.gallery {
  display: flex;
  width: calc(100% - 24px * 2);
  flex-wrap: wrap;
  list-style-type: none;

  gap: 24px;
  padding-left: 156px;
}

.gallery-item {}
.gallery-item::after {
content: '';

}
.gallery-link {
}
.gallery-image {
}

/* .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.basic-lightbox {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* hiding modal window */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background:  rgba(46, 47, 66, 0.8);;
}
